@model PizzaFormModel

@{
    ViewData["Title"] = "La tua pizza";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
@if (User.IsInRole("Admin")){
    

<div class="background-img">
    <div style="z-index:0" class="overlay"></div>
    <div style="position:relative;border-radius:10px" class="text-white bg-dark text-center w-50 m-auto">
        <h1>Dai sfogo all'immaginazione</h1>
        <h3>Crea la tua pizza personalizzata. le migliori potranno essere inserite nel nostro menù!</h3>
    </div>

    <div style="border-radius:10px;z-index:1;position:relative" class="w-50 m-auto text-white">

        <div class="d-flex justify-content-center background-create">


            <form asp-controller="Pizza" asp-action="Create" method="post">
                @Html.AntiForgeryToken()
                <div style="z-index:1" class="mb-3 w-75 mx-5 mt-3">
                    <label for="" class="form-label">Inserisci il nome:</label>
                    <input asp-for="Pizza.Name" class="form-control">
                    <span class="text-danger" asp-validation-for="Pizza.Name"></span>
                </div>

                <div class="mb-3 w-75 mx-5">
                    <label for="text" class="form-label">Inserisci la descrizione:</label>
                    <textarea asp-for="Pizza.Description" class="d-block w-100" id="text"></textarea>
                    <span class="text-danger" asp-validation-for="Pizza.Description"></span>
                </div>

                <div class="mb-3 w-75 mx-5">
                    <label for="" class="form-label">Inserisci il prezzo:</label>
                    <input asp-for="Pizza.Price" class="form-control">
                    <span class="text-danger" asp-validation-for="Pizza.Price"></span>
                </div>

                <div class="mb-3 w-75 mx-5">
                    <label for="" class="form-label">Inserisci l'immagine:</label>
                    <input asp-for="Pizza.Image" class="form-control">
                    <span asp-validation-for="Pizza.Image" class="text-danger"></span>
                </div>

                <div class="mb-3 w-75 mx-5">
                    <select asp-for="Pizza.CategoryId">
                        @foreach (Category elem in Model.Categories)
                        {

                            if (Model.Pizza.CategoryId == elem.Id)
                            {
                                <option value="@elem.Id" selected>@elem.Name</option>
                            }
                            else
                            {
                                <option value="@elem.Id">@elem.Name</option>
                            }

                        }
                    </select>
                </div>
                <div class="mb-3 w-75 mx-5">

                <select asp-for="SelectedIngredients" asp-items="@Model.Ingredientis"></select>
                </div>

                <div class="d-flex justify-content-center mb-3">
                    <button type="submit" class="btn btn-primary">Invia</button>
                </div>

            </form>
        </div>
    </div>
</div>
}else{
    <h1>REGISTRATI PER VISUALIZZARE TUTTE LE PIZZE</h1>
}